* {
  margin: 0;
  padding: 0;
}
body, html {
  padding: 0;
  margin: 0;
  font-family:'Lato', sans-serif;
  line-height: 1.5;
}

/*global styling*/
header {
  height: 75px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.closebtn {
  align-self: flex-end;
  margin-right: 10px 10px 0 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.closebtn:hover {
  background-color: #d7e0e0;
  transition: .5s;
}

article {
  text-align: center;
  width: 100%;
  height: 300px;
  max-height: 300px;
  margin: 0;
}

/*navbar css*/
nav {
width: 100%;
height: 75px;
padding: 0;
margin: 0;
}

nav ul {
  height: 100%;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #8b9d98;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover {
  background-color: #d7e0e0;
  font-weight: 700;
  transition: .5s;
}

/*main css*/
main {
  margin-top: 0;
}



#lorem1 {
  display: flex;
  flex-direction: column;
  background-color:#49c2a4;
  align-items: center;
  justify-content: center;
}

#lorem2{
  display: none;
  flex-direction: column;
  background-color:#35386f;
  align-items: center;
  justify-content: center;
}

#lorem3 {
  display: none;
  flex-direction: column;
  background-color:#e28968;
  align-items: center;
  justify-content: center;
}

/*closable tabs*/
#lorem4 {
  display: flex;
  flex-direction: column;
  background-color: #49c2a4;
  align-items: center;
}

#lorem5 {
  display: none;
  flex-direction: column;
  background-color:#35386f;
  align-items: center;
}

#lorem6 {
  display: none;
  flex-direction: column;
  background-color:#e28968;
  align-items: center;
}

.closableContent h2 {
  margin-top: 100px; /*this style is to create "justify-self: center" effect for the content*/
}

/*styling the documentation*/
#toCloseTabPageNote {
  z-index: -1;
  margin-top: 0;
  height:auto;
  position: absolute;
  font-size: 20px;
  padding-top: 20px;
}

/*Active/Current Tab */

#lorem7 {
  display: flex;
  flex-direction: column;
  background-color: #49c2a4;
  align-items: center;
  justify-content: center;
}

#lorem8 {
  display: none;
  flex-direction: column;
  background-color:#35386f;
  align-items: center;
  justify-content: center;
}

#lorem9 {
  display: none;
  flex-direction: column;
  background-color:#e28968;
  align-items: center;
  justify-content: center;
}
